.App {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .App-header {
    min-height: 100vh;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: auto;
  border-radius: 50%;
  background-color: #333;
  margin: 20px;
  margin-left: 25px;
  margin-right: 25px;
  border: none;
  outline: none;
  cursor: pointer;
}

.circle-button img {
  width: 50px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.rectangle-button {
  text-decoration: none;
  background-color: white;
  border: none;
  margin: 20px;
  margin-top: 0;
  border-radius: 10px;
}

.rectangle-button:hover {
  background-color: #e6e6e6;
}

.rectangle-button p {
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
  margin: 0;
  padding: 5px;
}

h1 {
  font-size: 3rem;
  font-weight: 1000;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  color: white;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  margin-top: 0;
  padding: 10px;
}

.experience-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-top: 0;
  padding: 10px;
  width: calc(50% - 40px);
  max-width: 300px;
}

@media only screen and (min-width: 768px) {
  .experience-box {
    width: calc(35% - 25px);
  }
}


.experience-box h2 {
  font-size: 1.8rem;
  font-style: normal;
}

.front-job-detail, .job-detail {
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  border-radius: 10px;
  margin: 20px;
  margin-top: 0;
  padding: 10px;
}

/* Hide the job detail when the experience box is not hovered */
.experience-box .job-detail {
  display: none;
}

.experience-box:hover .job-detail {
  display: block;
}

.experience-box:hover .front-job-detail {
  display: none;
}

/* Center horizontally and vertically within its container */
.front-job-detail, .job-detail {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
  .experience-boxes {
    flex-direction: column;
    align-items: center;
  }

  .front-job-detail, .job-detail {
    width: 80%;
    height: auto;
    margin: 10px;
    padding: 20px;
  }
}

@media only screen and (max-width: 480px) {

  .front-job-detail, .job-detail {
    width: 100%;
  }

  .experience-boxes {
    flex-direction: column;
    align-items: center;
  }
}

.skill-boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-top: 0;
  padding: 10px;
}

.skill-box {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.contact-boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-top: 0;
  padding: 10px;
}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}